:root {
    --blanco: #fff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gis: #757575;
}

html {
    font-size: 62.5%;
    /* Para el CSS Box Model */
    box-sizing: border-box;
}

/* Para el CSS Box Model */
*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    /*1 rem equivale a 16px*/
    font-size: 16px;
    /*Google Fonts*/
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(to top, #dfe9f3 0%, var(--blanco) 100%);
}

/* Crear sombra (Box Shadow) */
.sombra {
    -webkit-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.25);
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.25);

    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 1rem;
}


/* CSS a los Headings / Tipografia */
h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

h1,
h2,
h3 {
    text-align: center;
}

.titulo span {
    font-size: 2rem;
    background-color: red;
    color: var(--blanco);
    font-style: italic;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

.boton {
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;

    /* Para cambiar entre Minusculas y Mayusculas */
    text-transform: uppercase;

    font-weight: bold;
    border-radius: 0.5rem;
    width: 90%;
    text-align: center;
}

@media (min-width: 480px) {
    .boton {
        width: auto;
    }
}

.nav-bg {
    background-color: var(--secundario);
}

.navegacion-principal {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

/* Media Queries, para automatizar y al mismo tiempo crear el Resposive*/
@media (min-width: 768px) {
    .navegacion-principal {
        flex-direction: row;
        justify-content: space-between;

    }
}

.navegacion-principal a {
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
}

.navegacion-principal a:hover {
    background-color: var(--primario);
    color: var(--oscuro);
}

/* Trabajndo la imagen */
.hero {
    background-image: url(../imagenes/portada.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    /* padding: 2rem; */
    position: relative;

    margin-bottom: 2rem;
}

.contenido-hero {
    position: absolute;
    background-color: rgba(0, 0, 0, .4);
    background-color: rgb(0 0 0 / 40%);
    width: 100%;
    height: 100%;

    /* Centrar vertical y horizontalmente */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido-hero h2,
.contenido-hero p {
    color: var(--blanco);
}

.ubicacion {
    display: flex;
    align-items: flex-end;
}