:root {
    --blanco: #fff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gis: #757575;
}

html {
    font-size: 62.5%;
}

body {
    /*1 rem equivale a 16px*/
    font-size: 16px;
    /*Google Fonts*/
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.titulo {
    text-align: center;
    font-size: 4rem;
}

.titulo span {
    font-size: 2rem;
    color: red;
}

.contenedor {
    width: 120rem;
    margin: 0 auto;
}

.nav-bg {
    background-color: var(--secundario);

}